<div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
        <div class="basic-details">
            <div class="govuk-!-margin-right-6">
              <img src="/public/images/image.png" alt="Headshot of TEST, TEST" style="float:left" height="110" width="90" data-qa="offender-image">
            </div>
            <div id="basic-details-content">
                <div>
                    <p>
                        <span class="govuk-!-font-weight-bold">Name</span>
                        <span data-qa="displayName">Jones, Bob</span>
                    </p>
                </div>



                    <div>
                        <p>
                            <span class="govuk-!-font-weight-bold">Prison No.</span>
                            <span data-qa="nomsId">G5897GP</span>
                        </p>
                    </div>



                <div class="hide-mobile">
                    <p>
                        <span class="govuk-!-font-weight-bold">Date of Birth</span>
                        <span data-qa="dob">22/04/1989</span>
                    </p>
                </div>

                <div>
                    <p class="govuk-!-margin-bottom-0">
                        <span class="govuk-!-font-weight-bold">Location</span>

                            <span data-qa="prison-description">Moorland (HMP &amp; YOI)</span>

                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
