<div class="govuk-form-group">
  <label class="govuk-label" for="sort">

  </label>
  <select class="govuk-select" id="sort" name="group">


    <option value="published" selected>All</option>
    <optgroup label="Unassigned">
    <option value="Prison - East">Users not in a group</option>
    </optgroup>
    <optgroup label="Prison">
    <option value="Prison - East">Prison - East</option>
    <option value="Prison - East Midlands North" >Prison - East Midlands North</option>
    <option value="Prison - East Midlands South">Prison - East Midlands South</option>
    <option value="Prison - London">Prison - London</option>
    <option value="Prison - North East">Prison - North East</option>
    <option value="Prison - North West" >Prison - North West</option>
    <option value="Prison - South East">Prison - South East</option>
    <option value="Prison - Thames Valley">Prison - Thames Valley</option>
    <option value="Prison - Wales">Prison - Wales</option>
    <option value="Prison - West Midlands" >Prison - West Midlands</option>
    <option value="Prison - Yorkshire and Humberside">Prison - Yorkshire and Humberside</option>
  </optgroup>
  <optgroup label="Probation">
  <option value="Probation - East">Probation - East</option>
  <option value="Probation - East Midlands North" >Probation - East Midlands North</option>
  <option value="Probation - East Midlands South">Probation - East Midlands South</option>
  <option value="Probation - London">Probation - London</option>
  <option value="Probation - North East">Probation - North East</option>
  <option value="Probation - North West" >Probation - North West</option>
  <option value="Probation - South East">Probation - South East</option>
  <option value="Probation - Thames Valley">Probation - Thames Valley</option>
  <option value="Probation - Wales">Probation - Wales</option>
  <option value="Probation - West Midlands" >Probation - West Midlands</option>
  <option value="Probation - Yorkshire and Humberside">Probation - Yorkshire and Humberside</option>
</optgroup>

<optgroup label="Other">
  <option value="NOAT" >NOAT</option>
  <option value="NCTCCC">NCTCCC</option>
  <option value="NIU">NIU</option>
  <option value="JEXU HQ">JEXU HQ</option>
  <option value="Regional leads">Regional leads</option>
  <option value="Joint hub users / JCTPPH">Joint hub users / JCTPPH</option>
  <option value="Police (non hub)" >Police (non hub)</option>
  <option value="CT psychologists">CT psychologists</option>
  <option value="CT-ARC">CT-ARC</option>
  <option value="NSD">NSD</option>
</optgroup>

  </select>
</div>
