<div class="govuk-form-group">
<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

  </legend>
  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="other" name="other" type="checkbox" {{ checked("other", "Other - NOAT") }} value="Other - NOAT">
      <label class="govuk-label govuk-checkboxes__label" for="other">
      NOAT
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="other-2" name="other" type="checkbox" {{ checked("other", "Other - NCTCCC") }} value="Other- NCTCCC">
      <label class="govuk-label govuk-checkboxes__label" for="other-2">
      NCTCCC
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="other-3" name="other" type="checkbox" {{ checked("other", "Other - NIU") }} value="Other - NIU">
      <label class="govuk-label govuk-checkboxes__label" for="other-3">
        NIU
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="other-4" name="other" type="checkbox" {{ checked("other", "Other - JEXU HQ") }} value="Other - JEXU HQ">
      <label class="govuk-label govuk-checkboxes__label" for="other-4">
       JEXU HQ
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="other-5" name="other" type="checkbox" {{ checked("other", "Other - Regional leads") }} value="Other - Regional leads">
      <label class="govuk-label govuk-checkboxes__label" for="other-5">
       Regional leads
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="other-6" name="other" type="checkbox" {{ checked("other", "Other - Joint hub users / JCTPPH") }} value="Other - Joint hub users / JCTPPH">
      <label class="govuk-label govuk-checkboxes__label" for="other-6">
       Joint hub users / JCTPPH
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="other-7" name="other" type="checkbox" {{ checked("other", "Other - Police (non hub)") }}value="Other - Police (non hub)">
      <label class="govuk-label govuk-checkboxes__label" for="other-7">
       Police (non hub)
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="other-8" name="other" type="checkbox" {{ checked("other", "Other - CT psychologists") }} value="Other - CT psychologists">
      <label class="govuk-label govuk-checkboxes__label" for="other-8">
       CT psychologists
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="other-9" name="other" type="checkbox" {{ checked("other", "Other - CT-ARC") }} value="Other - CT-ARC">
      <label class="govuk-label govuk-checkboxes__label" for="other-9">
       CT-ARC
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="other-10" name="other" type="checkbox" {{ checked("other", "Other - NSD") }} value="Other - NSD">
      <label class="govuk-label govuk-checkboxes__label" for="other-10">
       NSD
      </label>
    </div>

  </div>

</fieldset>
</div>
