<div class="govuk-form-group">
<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

  </legend>
  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="2changed-name" name="probation" type="checkbox" {{ checked("probation", "Probation - East") }} value="Probation - East">
      <label class="govuk-label govuk-checkboxes__label" for="2changed-name">
        East
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="2changed-name-2" name="probation" type="checkbox" {{ checked("probation", "Probation - East Midlands North") }} value="Probation - East Midlands North">
      <label class="govuk-label govuk-checkboxes__label" for="2changed-name-2">
        East Midlands North
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="2changed-name-3" name="probation" type="checkbox" {{ checked("probation", "Probation - East Midlands South") }} value="Probation - East Midlands South">
      <label class="govuk-label govuk-checkboxes__label" for="2changed-name-3">
        East Midlands South
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="2changed-name-4" name="probation" type="checkbox" {{ checked("probation", "Probation - London") }} value="Probation - London">
      <label class="govuk-label govuk-checkboxes__label" for="2changed-name-4">
       London
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="2changed-name-5" name="probation" type="checkbox" {{ checked("probation", "Probation - North East") }} value="Probation - North East">
      <label class="govuk-label govuk-checkboxes__label" for="2changed-name-5">
       North East
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="2changed-name-6" name="probation" type="checkbox" {{ checked("probation", "Probation - West") }} value="Probation - North West">
      <label class="govuk-label govuk-checkboxes__label" for="2changed-name-6">
       North West
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="2changed-name-7" name="probation" type="checkbox" {{ checked("probation", "Probation - South East") }} value="Probation - South East">
      <label class="govuk-label govuk-checkboxes__label" for="2changed-name-7">
       South East
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="2changed-name-8" name="probation" type="checkbox" {{ checked("probation", "Probation - South West") }} value="Probation - South West">
      <label class="govuk-label govuk-checkboxes__label" for="2changed-name-8">
       South West
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="2changed-name-9" name="probation" type="checkbox" {{ checked("probation", "Probation - Thames Valley") }} value="Probation - Thames Valley">
      <label class="govuk-label govuk-checkboxes__label" for="2changed-name-9">
       Thames Valley
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="2changed-name-10" name="probation" type="checkbox" {{ checked("probation", "Probation - Wales") }} value="Probation - Wales">
      <label class="govuk-label govuk-checkboxes__label" for="2changed-name-10">
       Wales
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="2changed-name-11" name="probation" type="checkbox" {{ checked("probation", "Probation - West Midlands") }} value="Probation - West Midlands">
      <label class="govuk-label govuk-checkboxes__label" for="2changed-name-11">
       West Midlands
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="2changed-name-12" name="probation" type="checkbox" {{ checked("probation", "Probation - Yorkshire and Humberside") }} value="Probation - Yorkshire and Humberside">
      <label class="govuk-label govuk-checkboxes__label" for="2changed-name-12">
       Yorkshire and Humberside
      </label>
    </div>
  </div>

</fieldset>
</div>
