<table style="font-size: 18px" class="govuk-table" >
  <caption class="govuk-table__caption govuk-table__caption--m">Group 1</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-1" checked name="organisation" type="checkbox" value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-1">
              Setting 1
            </label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell">
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-2"  name="organisation" type="checkbox" value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
              Setting 2
            </label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell">
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-3"  name="organisation" type="checkbox" value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
              Setting 3
            </label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell">
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4"  name="organisation" type="checkbox" value="employment-tribunal"  data-aria-controls="conditional-contact1">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
              Setting 4
            </label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell">
        <div style="margin-bottom: 0px; border-left: 0px; margin-left: 0px; padding-left: 0px" class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden govuk-radios--small govuk-radios--inline" data-module="govuk-radios"  id="conditional-contact1">
         <div class="govuk-radios__item">
           <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="month">
           <label class="govuk-label govuk-radios__label" for="changed-name">
             Read only
           </label>
         </div>
         <div class="govuk-radios__item">
           <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
           <label class="govuk-label govuk-radios__label" for="changed-name-2">
             Read and update
           </label>
         </div>
       </div>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-5" name="organisation" type="checkbox" value="employment-tribunal"  data-aria-controls="conditional-contact2">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-5">
              Setting 5
            </label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell">
        <div style="margin-bottom: 0px; border-left: 0px; margin-left: 0px; padding-left: 0px" class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden govuk-radios--small govuk-radios--inline" data-module="govuk-radios"  id="conditional-contact2">
         <div class="govuk-radios__item">
           <input class="govuk-radios__input" id="changed-name2" name="changed-name2" type="radio" value="month">
           <label class="govuk-label govuk-radios__label" for="changed-name2">
             Read only
           </label>
         </div>
         <div class="govuk-radios__item">
           <input class="govuk-radios__input" id="changed-name2-2" name="changed-name2" type="radio" value="year">
           <label class="govuk-label govuk-radios__label" for="changed-name2-2">
             Read and update
           </label>
         </div>
       </div>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-6" checked name="organisation" type="checkbox" value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-6">
              Setting 6
            </label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell">
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-7" checked name="organisation" type="checkbox" value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-7">
              Setting 7
            </label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell">
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-8" name="organisation" type="checkbox" value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-8">
              Setting 8
            </label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell">
      </td>
    </tr>

  </tbody>
</table>

<table style="font-size: 18px" class="govuk-table" >
  <caption class="govuk-table__caption govuk-table__caption--m">Group 2</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation2-1" name="organisation" type="checkbox" value="employment-tribunal" data-aria-controls="conditional-contact3">
            <label class="govuk-label govuk-checkboxes__label" for="organisation2-1">
              Setting 1
            </label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell">
        <div style="margin-bottom: 0px; border-left: 0px; margin-left: 0px; padding-left: 0px" class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden govuk-radios--small govuk-radios--inline" data-module="govuk-radios"  id="conditional-contact3">
         <div class="govuk-radios__item">
           <input class="govuk-radios__input" id="changed-name3" name="changed-name4" type="radio" value="month">
           <label class="govuk-label govuk-radios__label" for="changed-name3">
             Read only
           </label>
         </div>
         <div class="govuk-radios__item">
           <input class="govuk-radios__input" id="changed-name3-2" name="changed-name4" type="radio" value="year">
           <label class="govuk-label govuk-radios__label" for="changed-name3-2">
             Read and update
           </label>
         </div>
       </div>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation2-2" name="organisation" type="checkbox" value="employment-tribunal"  data-aria-controls="conditional-contact4">
            <label class="govuk-label govuk-checkboxes__label" for="organisation2-2">
              Setting 2
            </label>
          </div>
        </div>
      </td>

      <td class="govuk-table__cell">
        <div style="margin-bottom: 0px; border-left: 0px; margin-left: 0px; padding-left: 0px" class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden govuk-radios--small govuk-radios--inline" data-module="govuk-radios"  id="conditional-contact4">
         <div class="govuk-radios__item">
           <input class="govuk-radios__input" id="changed-name4" name="changed-name5"  type="radio" value="month">
           <label class="govuk-label govuk-radios__label" for="changed-name4">
             Read only
           </label>
         </div>
         <div class="govuk-radios__item">
           <input class="govuk-radios__input" id="changed-name4-2" name="changed-name5" type="radio" value="year">
           <label class="govuk-label govuk-radios__label" for="changed-name4-2">
             Read and update
           </label>
         </div>
       </div>
      </td>
    </tr>

  </tbody>
</table>
