<hr>

<div class="homepage-content govuk-!-margin-top-6">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
          <h2 class="govuk-heading-m">Overall nominal details</h2>
      </div>
  </div>

  <div class="govuk-grid-row govuk-body">

    <div class="grid-column-one-fifth" data-qa="band">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                Number of band 1 nominals
            </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-top-2 govuk-!-margin-bottom-2">
            <div class="govuk-grid-column-full govuk-!-font-size-36 govuk-!-font-weight-bold">
                23
            </div>
        </div>
    </div>


    <div class="grid-column-one-fifth" data-qa="band">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                Number of band 2 nominals
            </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-top-2 govuk-!-margin-bottom-2">
            <div class="govuk-grid-column-full govuk-!-font-size-36 govuk-!-font-weight-bold">
                13
            </div>
        </div>
    </div>


    <div class="grid-column-one-fifth" data-qa="band">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                Number of band 3 nominals
            </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-top-2 govuk-!-margin-bottom-2">
            <div class="govuk-grid-column-full govuk-!-font-size-36 govuk-!-font-weight-bold">
                6
            </div>
        </div>
    </div>


    <div class="grid-column-one-fifth" data-qa="band">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                Number of band 4 nominals
            </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-top-2 govuk-!-margin-bottom-2">
            <div class="govuk-grid-column-full govuk-!-font-size-36 govuk-!-font-weight-bold">
                12
            </div>
        </div>
    </div>


    <div class="grid-column-one-fifth" data-qa="band">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                Number of referred nominals
            </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-top-2 govuk-!-margin-bottom-2">
            <div class="govuk-grid-column-full govuk-!-font-size-36 govuk-!-font-weight-bold">
                97
            </div>
        </div>
    </div>

</div>

<hr>



</div>
