{% extends "layout_moj.html" %}

{% block pageTitle %}
  Pathfinder
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../index1">TACT Cases</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manage-groups">Manage groups</a>
    </li>
  </ol>
</div>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="moj-page-header-actions">

      <div class="moj-page-header-actions__title">
        <h1 class="govuk-heading-l">Add user</h1>
      </div>



    </div>
    </div>
    <div class="govuk-grid-column-two-thirds">


                  <p class="govuk-body">
                  You need to provide these details about the new user:</p>
                  <ul class="govuk-list govuk-list--bullet">
              <li>First name and surname</li>
              <li>Job title</li>
              <li>Email address</li>
              <li>Login ID - (NOMIS if Prisons, Delius if Probation, Auth for other users)</li>
            </ul>

<form action="https://forms.office.com/pages/responsepage.aspx?id=KEeHxuZx_kGp4S6MNndq2DKIkCFwED1AoGpF1tXtpBBUOVFWSEVVWllPRkY0RzlEQjJCVUlEUVBSVC4u">

  <a href="https://forms.office.com/pages/responsepage.aspx?id=KEeHxuZx_kGp4S6MNndq2DKIkCFwED1AoGpF1tXtpBBUOVFWSEVVWllPRkY0RzlEQjJCVUlEUVBSVC4u" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
    Add user
    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
    </svg></a>

</form>


</div>
</div>
</div>
{% endblock %}
