
{% extends "layout_moj.html" %}

{% block pageTitle %}
  Pathfinder
{% endblock %}

{% block beforeContent %}

<!-- <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Digital Prison Services</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../index">Pathfinder</a>
    </li>

    <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="manage-home">Pathfinder admin</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="search">Manage users</a>
        </li>

  </ol>
</div> -->



{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}


{% endblock %}

{% block content %}

  <form action="edit-select-answer" method="post" novalidate>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">Add user to Pathfinder</span>
    Who requested the new user?</h1>
    <div class="moj-filter__selected govuk-!-padding-left-5 govuk-!-padding-right-5 govuk-!-padding-top-5  govuk-!-margin-bottom-3 filter-box-color">
      <form>
          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds  govuk-!-padding-top-1">
                  <div class="govuk-form-group">
                      <label class="govuk-label" for="nameNomsIdCrn">
                          Search by name, user name, user ID or email address
                      </label>
                      <input class="govuk-input govuk-!-padding-right-0" id="nameNomsIdCrn" name="nameNomsIdCrn" type="text" value="" maxlength="50" data-qa="name-or-id-filter">
                  </div>
              </div>
              <div class="govuk-grid-column-one-quarter">
                  <div class="govuk-!-padding-top-6 govuk-!-padding-left-0 govuk-!-margin-left-0">
                      <button data-prevent-double-click="true" class="govuk-button govuk-button--primary govuk-!-margin-top-1" data-module="govuk-button" data-qa="apply-button">
                      Search
                      </button>
                  </div>
              </div>
          </div>
  
  
      </form>
      
  </div>

  <div class="spread-items hide-mobile govuk-!-margin-bottom-3 govuk-!-margin-top-3">
 
        <p class="govuk-!-margin-bottom-2">
            <span class="govuk-!-font-weight-bold">3</span> results
        </p>

    </div>

  <table class="govuk-table" style="font-size: 18px">
    <caption class="govuk-table__caption govuk-table__caption--m"></caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header">Username</th>
        <th scope="col" class="govuk-table__header">Email address</th>
        <th scope="col" class="govuk-table__header">Account</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
            <div class="govuk-radios__item  govuk-radios--small">
              <input class="govuk-radios__input" id="select-user" name="select-user" type="radio" value="{% if data['name'] == null %}Steve Miller  {% else %} {{ data['name'] }} {% endif %}">
              <label class="govuk-label govuk-radios__label" for="select-user">
              </label>
            </div>
      </th>



        <td class="govuk-table__cell">{% if data['name'] == null %}Steve Miller  {% else %} {{ data['name'] }} {% endif %}<br>

          </td>
        <td class="govuk-table__cell">SMILLER_GEN</td>
        <td class="govuk-table__cell">steve.miller@justice.gov.uk</td>
        <td class="govuk-table__cell">Prison - NOMIS</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          <div class="govuk-radios__item  govuk-radios--small">
            <input class="govuk-radios__input" id="select-user" name="select-user" type="radio" value="SteveMiller">
            <label class="govuk-label govuk-radios__label" for="select-user">
            </label>
          </div>
        </th>
        <td class="govuk-table__cell">{% if data['name'] == null %}Steve Miller  {% else %} {{ data['name'] }} {% endif %}<br>
       
          </td>
        <td class="govuk-table__cell">SMILLER_GEN</td>
        <td class="govuk-table__cell">s.miller@justice.gov.uk</td>
        <td class="govuk-table__cell">Prison - NOMIS</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          <div class="govuk-radios__item  govuk-radios--small">
            <input class="govuk-radios__input" id="select-user" name="select-user" type="radio" value="{% if data['name'] == null %}Steve Miller  {% else %} {{ data['name'] }} {% endif %}">
            <label class="govuk-label govuk-radios__label" for="select-user">
            </label>
          </div>
        </th>
        <td class="govuk-table__cell">{% if data['name'] == null %}Steve Miller  {% else %} {{ data['name'] }} {% endif %}<br>

          </td>
        <td class="govuk-table__cell">SMILLER_GEN2</td>
        <td class="govuk-table__cell">steve.miller2@justice.gov.uk</td>
        <td class="govuk-table__cell">Prison - NOMIS</td>
      </tr>
    </tbody>
  </table>

<div class="govuk-button-group">
  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>
  <a class="govuk-link" href="search">Cancel</a>
</div>
</form>



</div>
</div>
{% endblock %}
