
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Pathfinder
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p>Dear Fred,</p>

        <p>Welcome to HMPPS Digital Services. This account will allow you access to NOMIS and DPS services.</p>

        <p>You need to create a password before you can sign in to NOMIS or DPS.</p>

        <p>Click on this link to create your password:</p>
        <p><a href="password">https://sign-in-dev.hmpps.service.justice.gov.uk/auth/initial-password?token=3d9e6f0f-31ae-4800-acc6-a7f867680540</a></p>

        <p>This link will expire after 7 days for security reasons. If the link does expire, you can still click on it and you will be asked to enter your email address to be sent a new link.</p>

        <p>The link does not work in Internet Explorer, copy and paste it into another browser instead.</p>

        <p>For all other problems, you should contact the helpdesk by calling 0800 917 5148, or #6598 from inside a prison.</p>

        <p>This email has been sent from an automated email account so do not reply to this email.</p>

        <p>From,</p>

        <p>HMPPS Digital Services</p>




      </div>
    </div>
  </main>
</div>

{% endblock %}
