
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Pathfinder
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <p>Dear Fred,</p>

        <p>You have created your password and can now use it to sign in to HMPPS Digital Services.</p>

        <p>You’ll also need your username which is FBLOGGS_GEN2.</p>

        <p>If you did not change your password, you should contact the helpdesk immediately by calling 0800 917 5148, or #6598 from inside a prison.</p>

        <p>Thanks.</p>

        <p>This is an automated email so do not reply.</p>



      </div>
    </div>
  </main>
</div>

{% endblock %}
