{% extends "layout_dps.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="../index-history.html" class="govuk-back-link">Back to design history</a>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">Baseline prototype - slice 3<br>
        Version 2</h1>
      <p class="govuk-body-s">11 January 2023</p>


      <p class="govuk-body">Slice 3 of the Pathfinder service.</p>
      <p>The prototype contains designs and functionality for the: <a href=" https://dsdmoj.atlassian.net/browse/DSE-795">slice 3 epic</a> and <a href=" https://dsdmoj.atlassian.net/browse/DSE-761">slice 2 epic</a></li>
      </ul>

      <p><a href="../v2?permission=Read+all&group=Prison+-+East" class="govuk-button">Start prototype journey slice 3</a><br>
        <a href="../v2?role=admin" class="govuk-button govuk-button--secondary">View as admin</a><br>
        <a href="../v2?role=groupowner" class="govuk-button govuk-button--secondary">View as user group owner</a><p>

      <p><a href="../v2/manage/template-tiles">View permissions help / guide</a></p>


  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="app-related" role="complementary" style="border-top: 2px solid #1d70b8; padding-top:15px">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="-title">Links to related content</h2>
    <nav role="navigation" aria-labelledby="-title">
      <ul class="app-related__list" style="padding-left: 0;">
        <li class="app-related__list-item govuk-!-margin-bottom-3" style="list-style-type:none;">
          <a class="govuk-link" href="../index?page=clear">Prototype start page</a>
        </li>
        <li class="app-related__list-item govuk-!-margin-bottom-3" style="list-style-type:none;">
        <a href="../v2/manage/template-tiles">View permissions help / guide</a>
        </li>
        <li class="app-related__list-item govuk-!-margin-bottom-3" style="list-style-type:none;">
          <a class="govuk-link" href="https://user-guide.cloud-platform.service.justice.gov.uk/documentation/networking/ip-filtering.html#inbound-ip-filtering">Cloud Platform IP Addresses guide</a>
        </li>

      </ul>
    </nav>
    </aside>
  </div>
</div>
{% endblock %}
