{% extends "layout_dps.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="../index-history.html" class="govuk-back-link">Back to design history</a>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">Future scope, initial view<br>
        Version 3</h1>
      <p class="govuk-body-s">27 February 2023</p>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Overview</h2>

          <p>Building on insights from managed service work, and exploring assumptions.</p>

          <p>Overview of updates to follow.</p>


        <h3 class="govuk-heading-m govuk-!-margin-bottom-1">User group self service</h3>
        <!-- <img src="/images/v1-0-1/setup.png" alt="" width="650"> -->

        <p>The prototype updates include:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>New journey for user group self service</li>
            <li>Admin approaval</li>
            <li>Update confirmation screen</li>
          </ul>


          <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Stats page</h3>
          <p>In progress</p>
          <p><a href="../v3?permission=Read+all&group=Prison+-+East" class="govuk-button govuk-button--secondary">Start prototype</a></p>

  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related" role="complementary" style="border-top: 2px solid #1d70b8; padding-top:15px">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="-title">Links to related content</h2>
    <nav role="navigation" aria-labelledby="-title">
      <ul class="app-related__list" style="padding-left: 0;">
        <li class="app-related__list-item govuk-!-margin-bottom-3" style="list-style-type:none;">
          <a class="govuk-link" href="../index?page=clear">Prototype start page</a>
        </li>

        <li class="app-related__list-item govuk-!-margin-bottom-3" style="list-style-type:none;">
          <a class="govuk-link" href="https://user-guide.cloud-platform.service.justice.gov.uk/documentation/networking/ip-filtering.html#inbound-ip-filtering">Cloud Platform IP Addresses guide</a>
        </li>

      </ul>
    </nav>
    </aside>
  </div>
</div>
{% endblock %}
