
{% extends "layout_moj.html" %}

{% block pageTitle %}
  Pathfinder
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/index">TACT cases</a>
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <h1 class="govuk-heading-l">TACT cases</h1>
</div>

<div class="homepage-content">
<div class="govuk-width-container">
  <ul class="govuk-grid-row card-group">

    {% if data['role'] == 'caseworker' or data['role'] == 'groupowner' or data['role'] == null' %}

      <li class="govuk-grid-column-one-third card-group__item">

          <div class="card card--clickable" data-test="view">
              <h2 class="govuk-heading-m card__heading">

                <a class="govuk-link card__link" href="./view-caseload" data-qa="view-caseload-link">Manage your caseload</a>
              </h2>
              <p class="govuk-body card__description">View your Pathfinder caseload and manage individuals' details</p>
          </div>

      </li>

                    {% endif %}
                 
                    <div id="wrapper" class="govuk-width-container">
        
                      <main id="content" class="search-wrapper search-wrapper--no-search-term">
                        <form action="/search" method="get" accept-charset="utf-8" class="search-header" role="search">
                                                
                      <div class="gem-c-search govuk-!-display-none-print  gem-c-search--large gem-c-search--on-white gem-c-search--separate-label" data-module="gem-toggle-input-class-on-focus" data-gem-toggle-input-class-on-focus-module-started="true">
                          <label for="search-main" class="gem-c-search__label"><h1 class="govuk-heading-l">Find a case</h1>
                      
                      </label>
                        <div class="gem-c-search__item-wrapper">
                          <input enterkeyhint="search" class="gem-c-search__item gem-c-search__input js-class-toggle" id="search-main" name="q" title="Search" type="search" value="">
                          <div class="gem-c-search__item gem-c-search__submit-wrapper">
                            <button class="gem-c-search__submit" type="submit" data-module="gem-track-click" enterkeyhint="search" data-gem-track-click-module-started="true">
                              Search
                              
                      <svg class="gem-c-search__icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                        <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
                        <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
                      </svg>
                      </button>    </div>
                        </div>
                      </div>
                      
                      
                      
                      
                      
                      
                        </form>
                      
                      
                      
                          </div>  
                    <div class="govuk-grid-row">
                      <div>
                        
                          <form id="search_form" action="/prisons/HEI/prisoners/search" accept-charset="UTF-8" method="get">
                            <div class="govuk-form-group">
                              <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                                Find a case
                              </label>
                              <input class="govuk-input moj-search__input " id="search" name="q" type="search" aria-describedby="search-hint">
                            </div>
                            <button id="search-button" class="govuk-button moj-search__button " data-module="govuk-button">
                              Search
                            </button>
                    </form>    </div>
                      </div>
                    </div>
                    
                    </div>
                

      <li class="govuk-grid-column-one-third card-group__item">

          <div class="card card--clickable" data-test="search">
              <h2 class="govuk-heading-m card__heading">
                  <a class="govuk-link govuk-link--no-visited-state card__link" href="">Search Pathfinder</a>
              </h2>
              <p class="govuk-body card__description">Search all of the records in Pathfinder</p>
          </div>

      </li>

      <li class="govuk-grid-column-one-third card-group__item">

        <div class="card card--clickable" data-test="refer">
            <h2 class="govuk-heading-m card__heading">
                <a class="govuk-link govuk-link--no-visited-state card__link" href="">Refer from prison</a>
            </h2>
            <p class="govuk-body card__description">Search Digital Prison Services for individuals to view and refer</p>
        </div>

    </li>

    <li class="govuk-grid-column-one-third card-group__item">

      <div class="card card--clickable" data-test="build">
          <h2 class="govuk-heading-m card__heading">
              <a class="govuk-link govuk-link--no-visited-state card__link" href="./build-caseload">Build your caseload</a>
          </h2>
          <p class="govuk-body card__description">Build your list of cases by prison or by probation area</p>
      </div>

  </li>

  <li class="govuk-grid-column-one-third card-group__item">

    <div class="card card--clickable" data-test="recat">
        <h2 class="govuk-heading-m card__heading">
            <a class="govuk-link govuk-link--no-visited-state card__link" href="">View recategorisations</a>
        </h2>
        <p class="govuk-body card__description">View nominals who are due or have just had a recategorisation</p>
    </div>

</li>



{% if data['role'] == 'admin' or data['role'] == null %}

<li class="govuk-grid-column-one-third card-group__item">

  <div class="card card--clickable" data-test="support">
      <h2 class="govuk-heading-m card__heading">
          <a class="govuk-link govuk-link--no-visited-state card__link" href="./manage/manage-home?owner=false">Manage users and groups</a>
      </h2>
      <p class="govuk-body card__description">Change user access and group details</p>
  </div>

</li>

{% endif %}
{% if data['role'] == 'groupowner' or data['role'] == null %}
{% if data['role'] == 'admin' %}
{% else %}

<li class="govuk-grid-column-one-third card-group__item">

  <div class="card card--clickable" data-test="support">
      <h2 class="govuk-heading-m card__heading">
          <a class="govuk-link govuk-link--no-visited-state card__link" href="./manage/manage-groups?owner=true">Manage your groups</a>
      </h2>
      <p class="govuk-body card__description">View your groups and add or remove users</p>
  </div>

</li>
{% endif %}

{% endif %}

  </ul>

</div>
</div>
{% endblock %}
