
{% extends "layout_moj.html" %}

{% block pageTitle %}
  Pathfinder
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Digital Prison Services</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../index">Pathfinder</a>
    </li>

    <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="manage-home">Pathfinder admin</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="manage-groups">Manage groups</a>
      </li>


  </ol>
</div>

{% endblock %}

{% block content %}

<form method="post" action="confirmation-group">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data['editgroup'] == 'true' %}
  <h1 class="govuk-heading-l">Change the name of the group</h1>
    {% else %}
    <h1 class="govuk-heading-l">Enter the name of the group</h1>

    {% endif %}

  <div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
  </label>
  {% if data['editgroup'] == 'true' %}
  <input class="govuk-input" id="event-name" name="event-name" type="text" value="{{ data['groupname'] }}">
  {% else %}
  <input class="govuk-input" id="event-name" name="event-name" type="text">
  {% endif %}

</div>
<!--
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend">
      Type of group
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      {% if data['editgroup'] == 'true' %}
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" checked value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Prison
        </label>
      </div>
      {% else %}
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Prison
        </label>
      </div>
      {% endif %}
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          Probation
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
          Other
        </label>
      </div>

    </div>
  </fieldset>
</div>

-->

<div class="moj-button-menu">
<div class="moj-button-menu__wrapper">


  {% if data['editgroup'] == 'true' %}
  <a href="confirmation-group-edit" role="button" draggable="false" class="govuk-button moj-button-menu__item  " data-module="govuk-button">
    Save changes
  </a>
  {% else %}
  <a href="confirmation-group"  role="button" draggable="false" class="govuk-button moj-button-menu__item  " data-module="govuk-button">
    Save group
  </a>
  {% endif %}


  <a href="view-user" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
    Cancel
  </a>

</form>




</div>
</div>


</div>
</div>
{% endblock %}
