{% extends "layout_moj.html" %}


{% block pageTitle %}
  Pathfinder
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Digital Prison Services</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../index">Pathfinder</a>
    </li>

    <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="manage-home">Pathfinder admin</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="manage-groups">Manage groups</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="view-group">{{ data['groupname'] }}</a>
          </li>

  </ol>
</div>

{% endblock %}

{% block content %}



<div class="govuk-width-container">
  <div class="govuk-grid-row govuk-!-display-none-print govuk-!-margin-bottom-4">

        <div class="govuk-grid-column-three-quarters">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                <h1 class="govuk-fieldset__heading">
                  Are you sure you want to delete {{ data['groupname'] }}'s user group?
                </h1>
                </a>
              </legend>


              <form method="post" action="/areyousure-group" class="form">







<div class="govuk-form-group">
<div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item ">
        <input class="govuk-radios__input" id="contact-10" name="deletegroup" type="radio" value="yes"  data-aria-controls="conditional-contact-2">
        <label class="govuk-label govuk-radios__label" for="contact-10">
          Yes
        </label>
      </div>



      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-1" name="deletegroup" type="radio"  value="no" data-aria-controls="conditional-contact-2">
        <label class="govuk-label govuk-radios__label" for="contact-1">
        No
        </label>
      </div>

</div>


  </fieldset>
</div>

  <button class="govuk-button" data-module="govuk-button">
    Save
  </button>


</form>




</div>
</div>
</div>

<!--

<script>
function setLocation(element) {
      document.forms[0].action = element.value
}
</script>
-->


{% endblock %}
