
{% extends "layout_dps-signedout.html" %}

{% block pageTitle %}
  Pathfinder
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            New password saved
          </h1>
        <!--  <div class="govuk-panel__body">
            Your reference number<br><strong>HDJ2123F</strong>
          </div>-->
        </div>



          <h2 class="govuk-heading-m">What happens next</h2>

              <p>You can now <a href="">sign in</a> with your new password.</p>










      </div>
    </div>
  </main>
</div>

{% endblock %}
