
{% extends "layout_moj.html" %}

{% block pageTitle %}
  Pathfinder
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Digital Prison Services</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../index">Pathfinder</a>
    </li>

    <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="manage-home">Pathfinder admin</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="search">Manage users</a>
        </li>
          {% if data['new'] == 'true' %}
          {% else %}
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="view-user">{{ data['name'] }}</a>
          </li>
          {% endif %}

  </ol>
</div>

{% endblock %}

{% block content %}

{% if data['new'] == 'false' and data['addon'] == 'Owner'%}
<form method="post" action="/usergroupowner">
{% else %}
<form method="post" action="/usergroup">
{% endif %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data['new'] == 'true'%}
  <h1 class="govuk-heading-l">Select {{ data['name'] }}'s permissions</h1>
  {% else %}
  <h1 class="govuk-heading-l">Change {{ data['name'] }}'s permissions</h1>
  {% endif %}

  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Permissions
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="permission" type="radio" value="View Profile only" {{ checked("permission", "View Profile only") }}>
        <label class="govuk-label govuk-radios__label" for="changed-name">
          View profile only
        </label>
      </div>
      <div class="govuk-radios__item">
          {% if data['new'] == 'true'%}
        <input class="govuk-radios__input" id="changed-name-2" name="permission" type="radio" value="Read only">
        {% else %}
        <input class="govuk-radios__input" id="changed-name-2" name="permission" checked type="radio" value="Read only" {{ checked("permission", "Read only") }}>
        {% endif %}
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          Read only
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-3" name="permission" type="radio" value="Read & limited update" {{ checked("permission", "Read & limited update") }}>
        <label class="govuk-label govuk-radios__label" for="changed-name-3">
          Read & limited update
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-5" name="permission" type="radio" value="Read and write all" {{ checked("permission", "Read and write all") }}>
        <label class="govuk-label govuk-radios__label" for="changed-name-5">
          Full operational use
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-4" name="permission" type="radio" value="Suspend access to Pathfinder" {{ checked("permission", "suspend") }}>
        <label class="govuk-label govuk-radios__label" for="changed-name-4">
          Suspend access to Pathfinder
        </label>
      </div>
    </div>

  </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Permission add on
      </h1>
    </legend>
    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="add" type="checkbox" value="CIM Approver" {{ checked("addon", "CIM Approver") }}>
        <label class="govuk-label govuk-checkboxes__label" for="organisation">
          CIM Approver
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="addon" type="checkbox" value="Owner" {{ checked("addon", "Owner") }}>
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          User group owner
        </label>
      </div>


    </div>

  </fieldset>
</div>


<div class="moj-button-menu">
<div class="moj-button-menu__wrapper">



  <button role="button" draggable="false" class="govuk-button moj-button-menu__item  " data-module="govuk-button">
    Continue
  </button>

  <a href="search" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
    Cancel
  </a>

</form>


</div>
</div>


</div>
</div>
{% endblock %}
