
{% extends "layout_moj.html" %}

{% block pageTitle %}
  Pathfinder
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Digital Prison Services</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../index">Pathfinder</a>
    </li>

    <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="manage-home">Pathfinder admin</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="search">Manage users</a>
        </li>
        {% if data['new'] == 'true' %}
        {% else %}
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="view-user">{{ data['name'] }}</a>
        </li>
        {% endif %}

  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">Enter the details of the person authorising the change</h1>

<form method="post" action="cya">

<div class="govuk-form-group">
  <label class="govuk-label" for="username">
    Name
  </label>
<input class="govuk-input govuk-input--width-20" id="username" name="username"  type="text">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="username">
    Method of authorisation
  </label>
  <div id="passport-issued-hint" class="govuk-hint">
    For example, email
  </div>

<input class="govuk-input govuk-input--width-20" id="username" name="username"  type="text">
</div>


<div class="govuk-form-group">
  <label class="govuk-label" for="username">
    Date of authorisation
  </label>

<input class="govuk-input govuk-input--width-20" id="username" name="username" type="text">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="more-detail">
    Notes (optional)
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"></textarea>
</div>



<div class="moj-button-menu">
<div class="moj-button-menu__wrapper">

  <button  role="button" draggable="false" class="govuk-button moj-button-menu__item  " data-module="govuk-button">
    Continue
  </button>

  <a href="search" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
    Cancel
  </a>




</div>
</div>


</div>
</div>
{% endblock %}
