
{% extends "layout_moj.html" %}

{% block pageTitle %}
  Pathfinder
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Digital Prison Services</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../index">Pathfinder</a>
    </li>
    {% if data['owner'] == 'true'%}
    {% else %}
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manage-home">Pathfinder admin</a>
    </li>
    {% endif %}
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="manage-groups">Manage groups</a>
      </li>


  </ol>
</div>

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="moj-page-header-actions">

      <div class="moj-page-header-actions__title">
        <h1 class="govuk-heading-l">{{ data['groupname'] }}</h1>
      </div>


      <div class="moj-page-header-actions__actions">

        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">

         <!--   <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
              Change details
            </a>-->

            {% if data['owner'] == 'true'%}

            <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
              Add new user
            </a>


            {% else %}

            <a href="add-group?editgroup=true" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
              Edit group
            </a>

            {% if data['empty'] == 'true'%}
            <a href="areyousure-group" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
              Delete group
            </a>

            {% else %}
            <a href="warning-remove" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
              Delete group
            </a>

            {% endif %}

            {% endif %}



          </div>
        </div>

      </div>

    </div>
    </div>
    <div class="govuk-grid-column-full">

      <p>The owners of this group are <strong><a href="view-user?name=John+Smith&admingroups=true">John Smith</a></strong> and <strong><a href="view-user?name=Ermintrude+Jones&admingroups=true">Ermintrude Jones</a></strong>.</p>

      {% if data['empty'] == 'true'%}

      <p>There are no users in this user group.</p>

      {% else %}

      <div class="spread-items hide-mobile govuk-!-margin-bottom-3">
                      <div>
                          <p class="govuk-!-margin-bottom-2">
                              <span class="govuk-!-font-weight-bold">12</span> users
                          </p>

                      </div>

                      {% if data['download'] != 'no'%}

                      <div class="spread-items">
                          <div class="govuk-!-margin-top-0">
                              <button id="caseload-link" class="csv-link">Download CSV</button>
                          </div>
                          <script>
                              const link = $("#caseload-link");
                              link.on("click", function(event) {
                                  window.location = "/view-caseload/csv-download";
                              });
                          </script>
                          <a href="javascript:window.print()" class="govuk-link print-link govuk-!-display-none-print">Print</a>
                      </div>
                      {% endif %}



                  </div>


      <table style="font-size: 18px" id="view-caseload" class="govuk-table view-caseload tablesorter tablesorter-default tablesorterf4469144cd29a" role="grid">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row tablesorter-headerRow" role="row">
              <th scope="col" class="govuk-table__header sortable tablesorter-header tablesorter-headerUnSorted" data-column="0" tabindex="0" role="columnheader" aria-disabled="false" aria-controls="view-caseload" unselectable="on" aria-sort="none" aria-label="Name: No sort applied, activate to apply an ascending sort" style="user-select: none;"><div class="tablesorter-header-inner">Name<i class="tablesorter-icon"></i></div></th>
              {% if data['owner'] == 'true'%}
              {% else %}
              <th scope="col" class="govuk-table__header sortable tablesorter-header tablesorter-headerUnSorted" data-column="1" tabindex="0" role="columnheader" aria-disabled="false" aria-controls="view-caseload" unselectable="on" aria-sort="none" aria-label="Prison number or CRN: No sort applied, activate to apply an ascending sort" style="user-select: none;"><div class="tablesorter-header-inner">User name<i class="tablesorter-icon"></i></div></th>
              {% endif %}
              <th scope="col" class="govuk-table__header sortable tablesorter-header tablesorter-headerUnSorted" data-column="2" tabindex="0" role="columnheader" aria-disabled="false" aria-controls="view-caseload" unselectable="on" aria-sort="none" aria-label="Location: No sort applied, activate to apply an ascending sort" style="user-select: none;"><div class="tablesorter-header-inner">Permissions<i class="tablesorter-icon"></i></div></th>
              <th scope="col" class="govuk-table__header sortable tablesorter-header tablesorter-headerUnSorted" data-column="2" tabindex="0" role="columnheader" aria-disabled="false" aria-controls="view-caseload" unselectable="on" aria-sort="none" aria-label="Location: No sort applied, activate to apply an ascending sort" style="user-select: none;"><div class="tablesorter-header-inner">Add on<i class="tablesorter-icon"></i></div></th>

          </tr>
          </thead>

          <tbody class="govuk-table__body" aria-live="polite" aria-relevant="all">



                  <tr class="govuk-table__row odd" role="row">
                      <td class="govuk-table__cell">
                          <a href="view-user?name=Bob+Brown&admingroups=true" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Bob Brown</a>
                      </td>
                      {% if data['owner'] == 'true'%}
                      {% else %}
                      <td class="govuk-table__cell">BBROWN_GEN</td>
                      {% endif %}
                      <td class="govuk-table__cell">
                      {% if data['deactivated'] == 'true'%}
                      <span class="moj-badge moj-badge--red">Deactivated</span>
                      {% else %}
                      Read only
                      {% endif %}
                      </td>
                      <td class="govuk-table__cell hide-mobile"></td>



                  </tr>
                  <tr class="govuk-table__row odd" role="row">
                      <td class="govuk-table__cell">
                          <a href="view-user?name=Carl+Cooper&admingroups=true" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Carl Cooper</a>
                      </td>
                      {% if data['owner'] == 'true'%}
                      {% else %}
                      <td class="govuk-table__cell">CCOOPER_GEN</td>
                      {% endif %}
                      <td class="govuk-table__cell">Read only</td>
                      <td class="govuk-table__cell hide-mobile"></td>


                  </tr>
                  <tr class="govuk-table__row odd" role="row">
                      <td class="govuk-table__cell">
                          <a href="view-user?name=Dan+Elliot&admingroups=true" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Dan Elliot</a>
                      </td>
                      {% if data['owner'] == 'true'%}
                      {% else %}
                      <td class="govuk-table__cell">DELLIOT_GEN</td>
                      {% endif %}
                      <td class="govuk-table__cell">Full operational use</td>
                      <td class="govuk-table__cell hide-mobile"></td>


                  </tr>
                  <tr class="govuk-table__row odd" role="row">
                      <td class="govuk-table__cell">
                          <a href="view-user?name=Fiona+Jones&admingroups=true" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Fiona Jones</a>
                      </td>
                      {% if data['owner'] == 'true'%}
                      {% else %}
                      <td class="govuk-table__cell">FJONES_GEN</td>
                      {% endif %}
                      <td class="govuk-table__cell">View Profile only</td>
                      <td class="govuk-table__cell hide-mobile"></td>


                  </tr>
                  <tr class="govuk-table__row odd" role="row">
                      <td class="govuk-table__cell">
                          <a href="view-user?name=John+Smith&admingroups=true" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">John Smith</a>
                      </td>
                      {% if data['owner'] == 'true'%}
                      {% else %}
                      <td class="govuk-table__cell">JSMITH_GEN</td>
                      {% endif %}
                      <td class="govuk-table__cell">View Profile only</td>
                      <td class="govuk-table__cell hide-mobile"></td>


                  </tr>
                  <tr class="govuk-table__row odd" role="row">
                      <td class="govuk-table__cell">
                          <a href="view-user?name=Larry+Henry&admingroups=true" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Larry Henry</a>
                      </td>
                      {% if data['owner'] == 'true'%}
                      {% else %}
                      <td class="govuk-table__cell">LHENRY_GEN</td>
                      {% endif %}
                      <td class="govuk-table__cell">View Profile only</td>
                      <td class="govuk-table__cell hide-mobile">CIM Approver</td>


                  </tr>
                  <tr class="govuk-table__row odd" role="row">
                      <td class="govuk-table__cell">
                          <a href="view-user?name=Matty+Smith&admingroups=true" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Matty Smith</a>
                      </td>
                      {% if data['owner'] == 'true'%}
                      {% else %}
                      <td class="govuk-table__cell">MSMITH_GEN</td>
                      {% endif %}
                      <td class="govuk-table__cell">View Profile only</td>
                      <td class="govuk-table__cell hide-mobile"></td>


                  </tr>
                  <tr class="govuk-table__row odd" role="row">
                      <td class="govuk-table__cell">
                          <a href="view-user?name=Norman+Brown&admingroups=true" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Norman Brown</a>
                      </td>
                      {% if data['owner'] == 'true'%}
                      {% else %}
                      <td class="govuk-table__cell">NBROWN_GEN</td>
                      {% endif %}
                      <td class="govuk-table__cell">View Profile only</td>
                      <td class="govuk-table__cell hide-mobile"></td>


                  </tr>
                  <tr class="govuk-table__row odd" role="row">
                      <td class="govuk-table__cell">
                          <a href="view-user?name=Olas+Summers&admingroups=true" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Olaf Summers</a>
                      </td>
                      {% if data['owner'] == 'true'%}
                      {% else %}
                      <td class="govuk-table__cell">OSUMMER_GEN</td>
                      {% endif %}
                      <td class="govuk-table__cell">View Profile only</td>
                      <td class="govuk-table__cell hide-mobile"></td>


                  </tr>
                  <tr class="govuk-table__row odd" role="row">
                      <td class="govuk-table__cell">
                          <a href="view-user?name=Peter+Pepper&admingroups=true" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Peter Pepper</a>
                      </td>
                      {% if data['owner'] == 'true'%}
                      {% else %}
                      <td class="govuk-table__cell">PPEPPER_GEN</td>
                      {% endif %}
                      <td class="govuk-table__cell">Full operational use</td>
                      <td class="govuk-table__cell hide-mobile"></td>


                  </tr>
                  <tr class="govuk-table__row odd" role="row">
                      <td class="govuk-table__cell">
                          <a href="view-user?name=Quentin+Jones&admingroups=true" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Quentin Jones</a>
                      </td>
                      {% if data['owner'] == 'true'%}
                      {% else %}
                      <td class="govuk-table__cell">QJONES_GEN</td>
                      {% endif %}
                      <td class="govuk-table__cell">View Profile only</td>
                      <td class="govuk-table__cell hide-mobile"></td>


                  </tr>
                  <tr class="govuk-table__row odd" role="row">
                      <td class="govuk-table__cell">
                          <a href="view-user?name=Roger+Reanalds&admingroups=true" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Roger Reanalds</a>
                      </td>
                      {% if data['owner'] == 'true'%}
                      {% else %}
                      <td class="govuk-table__cell">RREANAALDS_GEN</td>
                      {% endif %}
                      <td class="govuk-table__cell">View Profile only</td>
                      <td class="govuk-table__cell hide-mobile">CIM Approver</td>


                  </tr>
                  <tr class="govuk-table__row odd" role="row">
                      <td class="govuk-table__cell">
                          <a href="view-user?name=Sam+Smith&admingroups=true" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Sam Smith</a>
                      </td>
                      {% if data['owner'] == 'true'%}
                      {% else %}
                      <td class="govuk-table__cell">SSMITH_GEN</td>
                      {% endif %}
                      <td class="govuk-table__cell">View Profile only</td>
                      <td class="govuk-table__cell hide-mobile"></td>


                  </tr>



          </tbody>
      </table>

{% endif %}

  {% if data['owner'] == 'true'%}
  <a href="manage-groups" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
    Go back to my user groups
  </a>
  {% else %}
  <a href="manage-groups" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
    Go back to manage user groups
  </a>
  {% endif %}







</div>
</div>
</div>
{% endblock %}
